/* BIE App css
* author : pierremm
* author url : http://www.pierremm.com
*/

/*---------------------------------- TYPOGRAPHY  */

$primary-color: black;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree Serif", arial, sans-serif !important;
  letter-spacing: 0.1rem;
  color: $primary-color;
}
h1 {
  margin: 1.5rem 0 !important;
}


.verticalTh {
  
}
table#synthese td,
table#synthese th {
  width: auto;
  white-space: nowrap;
  padding: 0;
  }
.verticalTh th span {
  display: block;
  transform: rotate(-45deg);
  background-color: lightgray;
  text-align: left;
}
.verticalTh th.themes {
  width:32px;
}
